name: "Community: Issue Translation"

on:
  issue_comment:
    types: [created]
  issues:
    types: [opened]

jobs:
  translate:
    name: Translate Issues and Comments
    runs-on: ubuntu-latest
    steps:
      - uses: usthe/issues-translate-action@v2.7
        with:
          BOT_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
